.appHeaderSelect {
    background-image: linear-gradient(bottom, rgb(220, 220, 220) 7%,
        rgb(72, 179, 191) 78%);
    background-image: -o-linear-gradient(bottom, rgb(220, 220, 220) 7%,
        rgb(72, 179, 191) 78%);
    background-image: -moz-linear-gradient(bottom, rgb(220, 220, 220) 7%,
        rgb(72, 179, 191) 78%);
    background-image: -webkit-linear-gradient(bottom, rgb(220, 220, 220) 7%,
        rgb(72, 179, 191) 78%);
    background-image: -ms-linear-gradient(bottom, rgb(220, 220, 220) 7%,
        rgb(72, 179, 191) 78%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.07, rgb(220
        , 220, 220)), color-stop(0.78, rgb(72, 179, 191)));
}

.argument {
    /*Transition*/
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
}

.argument:hover, .argumentSelect {
    -webkit-box-shadow: 30px 0px 20px rgba(72, 179, 191, 0.8);
    -moz-box-shadow: 30px 0px 20px rgba(72, 179, 191, 0.8);
    box-shadow: 30px 0px 20px rgba(72, 179, 191, 0.8);
}

.deleteBtn {
    position: absolute !important;
}

@sprite .delete {
    gwt-image: "deleteRating";   
    cursor: pointer; 
}

@sprite .deleteHover {
    gwt-image: "deleteRatingHover";
    cursor: pointer;
}

.emptyGroupBgText {
	color: #ccc;
	text-align: center;
}
